In [1]:
# Load in Libraries
import pandas as pd
import geopandas as gpd
import os

In [2]:
# Load in csv
ssc_csv = pd.read_csv("ssc_csv.csv")
ssc_csv.head()
ssc_csv.tail()
#print(ssc_csv['community'])

       community       lat       lon  count
12676         52  27.70980  85.31630      3
12677         52  27.71961  85.35592      1
12678         53  27.66831  85.31122      1
12679         53  27.67170  85.30890      3
12680         53  27.91130  85.14180      2

In [3]:
print(len(ssc_csv['community']))
print(ssc_csv.columns.values)

12681
['community' 'lat' 'lon' 'count']

In [5]:
# Create new data frame

ssc_csv_columns = ssc_csv.columns.values

for i in range(54):
    comm_table = ssc_csv
    drop_rows = []
    
    for row in range(len(ssc_csv['community'])):
        if ssc_csv.loc[row, 'community'] != i:
            drop_rows.append(row)
            
    comm_table = comm_table.drop(drop_rows)
    
    comm_table.to_csv("../../data/raw/ind_comm/community_" + str(i) + ".csv")
    print(str(i) + " processed")

0 processed
1 processed
2 processed
3 processed
4 processed
5 processed
6 processed
7 processed
8 processed
9 processed
10 processed
11 processed
12 processed
13 processed
14 processed
15 processed
16 processed
17 processed
18 processed
19 processed
20 processed
21 processed
22 processed
23 processed
24 processed
25 processed
26 processed
27 processed
28 processed
29 processed
30 processed
31 processed
32 processed
33 processed
34 processed
35 processed
36 processed
37 processed
38 processed
39 processed
40 processed
41 processed
42 processed
43 processed
44 processed
45 processed
46 processed
47 processed
48 processed
49 processed
50 processed
51 processed
52 processed
53 processed